**About Book Crossing Dataset**<br>

This dataset has been compiled by Cai-Nicolas Ziegler in 2004, and it comprises of three tables for users, books and ratings. Explicit ratings are expressed on a scale from 1-10 (higher values denoting higher appreciation) and implicit rating is expressed by 0.

Reference: http://www2.informatik.uni-freiburg.de/~cziegler/BX/

**Objective**

This project entails building a Book Recommender System for users based on user-based and item-based collaborative filtering approaches.

#### Execute the below cell to load the datasets

In [1]:
import pandas as pd
import numpy as np

from scipy.sparse.linalg import svds

In [45]:
#Loading data
books = pd.read_csv("books.csv", sep=";", error_bad_lines=False, encoding="latin-1")
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']

users = pd.read_csv('users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
users.columns = ['userID', 'Location', 'Age']

ratings = pd.read_csv('ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
ratings.columns = ['userID', 'ISBN', 'bookRating']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'

### Check no.of records and features given in each dataset

In [46]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
ISBN                 271360 non-null object
bookTitle            271360 non-null object
bookAuthor           271359 non-null object
yearOfPublication    271360 non-null object
publisher            271358 non-null object
imageUrlS            271360 non-null object
imageUrlM            271360 non-null object
imageUrlL            271357 non-null object
dtypes: object(8)
memory usage: 16.6+ MB

In [47]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
userID      278858 non-null int64
Location    278858 non-null object
Age         168096 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [48]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
userID        1149780 non-null int64
ISBN          1149780 non-null object
bookRating    1149780 non-null int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

## Exploring books dataset

In [49]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

### Drop last three columns containing image URLs which will not be required for analysis

In [50]:
books.drop(['imageUrlS','imageUrlM','imageUrlL'],axis=1,inplace=True)

In [51]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

**yearOfPublication**

### Check unique values of yearOfPublication

In [52]:
books.groupby('yearOfPublication').count()

                   ISBN  bookTitle  bookAuthor  publisher
yearOfPublication
0                  3570       3570        3570       3570
1806                  1          1           1          1
1900                  1          1           1          1
1901                  7          7           7          7
1902                  2          2           2          2
1904                  1          1           1          1
1906                  1          1           1          1
1908                  1          1           1          1
1910                  1          1           1          1
1911                 10         10          10         10
1914                  1          1           1          1
1917                  1          1           1          1
1920                 27         27          27         27
1921                  2          2           2          2
1923                  8          8           8          8
1924                  1          1           1          1
1925                  2          2           2          2
1926                  1          1           1          1
1927                  1          1           1          1
1928                  2          2           2          2
1929                  7          7           7          7
1930                 12         12          12         12
1931                  2          2           2          2
1932                  3          3           3          3
1933                  2          2           2          2
1934                  1          1           1          1
1935                  3          3           3          3
1936                  5          5           5          5
1937                  5          5           5          5
1938                  6          6           6          6
...                 ...        ...         ...        ...
1986               1583       1583        1583       1583
1987               1768       1768        1768       1768
1988               1947       1947        1947       1947
1989               2111       2111        2111       2111
1990               2266       2266        2266       2266
1991               2463       2463        2463       2463
1992               2516       2516        2516       2516
1993               2682       2682        2682       2682
1994               2939       2939        2939       2939
1995               3287       3287        3287       3287
1996               3343       3343        3343       3343
1997               3396       3396        3396       3396
1998               3650       3650        3650       3650
1999               4017       4017        4017       4017
2000               3859       3859        3859       3859
2001               3644       3644        3644       3644
2002               3724       3724        3724       3724
2003               2748       2748        2748       2748
2004               1210       1210        1210       1210
2005                 18         18          18         18
2006                  3          3           3          3
2008                  1          1           1          1
2011                  1          1           1          1
2012                  1          1           1          1
2020                  1          1           1          1
2024                  1          1           1          1
2030                  3          3           3          3
2037                  1          1           1          1
DK Publishing Inc     2          2           2          2
Gallimard             1          1           1          1

[202 rows x 4 columns]

As it can be seen from above that there are some incorrect entries in this field. It looks like Publisher names 'DK Publishing Inc' and 'Gallimard' have been incorrectly loaded as yearOfPublication in dataset due to some errors in csv file.


Also some of the entries are strings and same years have been entered as numbers in some places. We will try to fix these things in the coming questions.

### Check the rows having 'DK Publishing Inc' as yearOfPublication

In [53]:
books[(books.yearOfPublication=='DK Publishing Inc')|(books.yearOfPublication=='Gallimard')]

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
209538,078946697X,"DK Readers: Creating the X-Men, How It All Beg...",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...
220731,2070426769,"Peuple du ciel, suivi de 'Les Bergers\"";Jean-M...",2003,Gallimard,http://images.amazon.com/images/P/2070426769.0...
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Book...",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.0...

### Drop the rows having `'DK Publishing Inc'` and `'Gallimard'` as `yearOfPublication`

In [54]:
indexname=books[(books.yearOfPublication=='DK Publishing Inc')|(books.yearOfPublication=='Gallimard')].index
indexname

Int64Index([209538, 220731, 221678], dtype='int64')

In [55]:
books.drop(indexname,inplace=True)
books[(books.yearOfPublication=='DK Publishing Inc')|(books.yearOfPublication=='Gallimard')]

Empty DataFrame
Columns: [ISBN, bookTitle, bookAuthor, yearOfPublication, publisher]
Index: []

### Change the datatype of yearOfPublication to 'int'

In [56]:
books.dtypes

ISBN                 object
bookTitle            object
bookAuthor           object
yearOfPublication    object
publisher            object
dtype: object

In [57]:
books['yearOfPublication']=books['yearOfPublication'].astype('int64')

In [58]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271357 entries, 0 to 271359
Data columns (total 5 columns):
ISBN                 271357 non-null object
bookTitle            271357 non-null object
bookAuthor           271356 non-null object
yearOfPublication    271357 non-null int64
publisher            271355 non-null object
dtypes: int64(1), object(4)
memory usage: 12.4+ MB

### Drop NaNs in `'publisher'` column

In [59]:
books.drop(books[books.publisher.isna()].index,inplace=True)

In [60]:
books[books.publisher.isna()]

Empty DataFrame
Columns: [ISBN, bookTitle, bookAuthor, yearOfPublication, publisher]
Index: []

## Exploring Users dataset

In [61]:
print(users.shape)
users.head()

(278858, 3)

   userID                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

In [62]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
userID      278858 non-null int64
Location    278858 non-null object
Age         168096 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

### Get all unique values in ascending order for column `Age`

In [63]:
sorted(users.Age.unique())

[nan,
 0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 96.0,
 97.0,
 98.0,
 99.0,
 100.0,
 101.0,
 102.0,
 103.0,
 104.0,
 105.0,
 106.0,
 107.0,
 108.0,
 109.0,
 110.0,
 111.0,
 113.0,
 114.0,
 115.0,
 116.0,
 118.0,
 119.0,
 123.0,
 124.0,
 127.0,
 128.0,
 132.0,
 133.0,
 136.0,
 137.0,
 138.0,
 140.0,
 141.0,
 143.0,
 146.0,
 147.0,
 148.0,
 151.0,
 152.0,
 156.0,
 157.0,
 159.0,
 162.0,
 168.0,
 172.0,
 175.0,
 183.0,
 186.0,
 189.0,
 199.0,
 200.0,
 201.0,
 204.0,
 207.0,
 208.0,
 209.0,
 210.0,
 212.0,
 219.0,
 220.0,
 223.0,
 226.0,
 228.0,
 229.0,
 230.0,
 231.0,
 237.0,
 239.0,
 244.0]

Age column has some invalid entries like nan, 0 and very high values like 100 and above

### Values below 5 and above 90 do not make much sense for our book rating case...hence replace these by NaNs

In [64]:
users.Age[users['Age']<5]=np.nan

C:\Users\i017121\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [65]:
users.Age[users['Age']>90]=np.nan

C:\Users\i017121\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

### Replace null values in column `Age` with mean

In [66]:
users['Age'].replace(np.nan,users.Age.mean(),inplace=True)

In [67]:
users.head()

   userID                            Location       Age
0       1                  nyc, new york, usa  34.72384
1       2           stockton, california, usa  18.00000
2       3     moscow, yukon territory, russia  34.72384
3       4           porto, v.n.gaia, portugal  17.00000
4       5  farnborough, hants, united kingdom  34.72384

### Change the datatype of `Age` to `int`

In [68]:
users['Age']=users['Age'].astype('int64')

In [69]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
userID      278858 non-null int64
Location    278858 non-null object
Age         278858 non-null int64
dtypes: int64(2), object(1)
memory usage: 6.4+ MB

In [70]:
print(sorted(users.Age.unique()))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]

## Exploring the Ratings Dataset

### check the shape

In [71]:
ratings.shape

(1149780, 3)

In [72]:
n_users = users.shape[0]
n_books = books.shape[0]

In [73]:
ratings.head(5)

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

### Ratings dataset should have books only which exist in our books dataset. Drop the remaining rows

In [74]:
ratings.drop((ratings['ISBN'].isin(books.ISBN)!=True).index)

Empty DataFrame
Columns: [userID, ISBN, bookRating]
Index: []

In [75]:
print(' Total Records in DataSet    :',ratings.ISBN.count(),'\n'
     ,'Total Rec with NO Book Ref. :',ratings[ratings['ISBN'].isin(books.ISBN)!=True].ISBN.count(),'\n'
     ,'Total Rec with Book ref     :',ratings.ISBN.count()-ratings[ratings['ISBN'].isin(books.ISBN)!=True].ISBN.count(),'\n'
     )

 Total Records in DataSet    : 1149780
 Total Rec with NO Book Ref. : 118650
 Total Rec with Book ref     : 1031130

In [76]:
ratings.drop(ratings[ratings['ISBN'].isin(books.ISBN)!=True].index,inplace=True)
print('Total records in Dataset after clearing non book references :',ratings.ISBN.count())

Total records in Dataset after clearing non book references : 1031130

### Ratings dataset should have ratings from users which exist in users dataset. Drop the remaining rows

In [77]:
print(' Total Records in DataSet    :',ratings.userID.count(),'\n'
     ,'Total Rec with NO User Ref. :',ratings[ratings['userID'].isin(users.userID)!=True].userID.count(),'\n'
     ,'Total Rec with User ref     :',ratings.userID.count()-ratings[ratings['userID'].isin(users.userID)!=True].userID.count(),'\n'
     )

 Total Records in DataSet    : 1031130
 Total Rec with NO User Ref. : 0
 Total Rec with User ref     : 1031130

**Observation :** Since there is no record without user reference, hence no action required.

### Consider only ratings from 1-10 and leave 0s in column `bookRating`

In [78]:
# Check count of each rating before dropping 0 book rating for books
ratings.groupby('bookRating').count()

            userID    ISBN
bookRating
0           647291  647291
1             1481    1481
2             2375    2375
3             5118    5118
4             7617    7617
5            45355   45355
6            31687   31687
7            66401   66401
8            91804   91804
9            60776   60776
10           71225   71225

In [79]:
ratings.drop(ratings[(ratings.bookRating==0)].index,inplace=True)

In [80]:
# Check count of each rating after dropping 0 book rating for books
ratings.groupby('bookRating').count()

            userID   ISBN
bookRating
1             1481   1481
2             2375   2375
3             5118   5118
4             7617   7617
5            45355  45355
6            31687  31687
7            66401  66401
8            91804  91804
9            60776  60776
10           71225  71225

### Find out which rating has been given highest number of times

In [81]:
Final_ratings=ratings.groupby('bookRating').count()

In [82]:
Final_ratings.sort_values(by='ISBN',ascending=False).head()

            userID   ISBN
bookRating
8            91804  91804
10           71225  71225
7            66401  66401
9            60776  60776
5            45355  45355

### **Collaborative Filtering Based Recommendation Systems**

### For more accurate results only consider users who have rated atleast 100 books

In [83]:
user_100=ratings.groupby('userID').count()

In [84]:
user_100.shape

(68091, 2)

In [85]:
user_100.drop(user_100[user_100['ISBN']<100].index, inplace=True)

In [86]:
user_100.shape

(449, 2)

In [87]:
user_100.head()

        ISBN  bookRating
userID
2033     129         129
2110     103         103
2276     196         196
4017     154         154
4385     212         212

In [88]:
ratings[ratings['userID'].isin(user_100.index)!=True].count()

userID        280570
ISBN          280570
bookRating    280570
dtype: int64

In [89]:
ratings_temp=ratings.drop(ratings[ratings['userID'].isin(user_100.index)!=True].index,inplace=True)

In [90]:
ratings.groupby('userID').count().sample(5)

        ISBN  bookRating
userID
218552   140         140
126736   136         136
197659   781         781
23768    210         210
264321   273         273

### Generating ratings matrix from explicit ratings

#### Note: since NaNs cannot be handled by training algorithms, replace these by 0, which indicates absence of ratings

In [91]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103269 entries, 1456 to 1147615
Data columns (total 3 columns):
userID        103269 non-null int64
ISBN          103269 non-null object
bookRating    103269 non-null int64
dtypes: int64(2), object(1)
memory usage: 3.2+ MB

In [92]:
ratings.groupby(ratings.isna().ISBN).count()

       userID    ISBN  bookRating
ISBN
False  103269  103269      103269

**Observation :** Since userID & bookRating is already int64 hence no Nan value can be observed, also check ISBN for Nan value by grouping the same, however, no NaN value observed

In [93]:
ratings.shape

(103269, 3)

In [95]:
rating_m=ratings.pivot_table(index='userID',columns='ISBN',values='bookRating').fillna(0)
rating_m.head(10)

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B000092Q0A,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A
userID,,,,,,,,,,,,,,,,,,,,,
2033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2276,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4385,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6242,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6251,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6543,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6575,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [96]:
rating_m.shape

(449, 66572)

### Generate the predicted ratings using SVD with no.of singular values to be 50

In [97]:
R = rating_m.as_matrix()
user_ratings_mean = np.mean(R, axis = 1)
#R_demeaned = R - user_ratings_mean.reshape(-1, 1)

C:\Users\i017121\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [99]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(rating_m, k = 50)
U.shape

(449, 50)

In [100]:
sigma = np.diag(sigma)

In [101]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = rating_m.columns)

In [102]:
preds_df

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B000092Q0A,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A
0,0.042240,0.014753,0.015468,0.014753,0.014753,0.019870,0.012979,0.023934,0.023934,0.029215,...,0.017079,0.017125,0.058980,0.000095,-0.063129,0.021645,0.045213,0.017019,0.015206,0.084402
1,0.002801,0.009144,0.010367,0.009144,0.009144,0.013888,0.014253,0.009313,0.009313,0.014426,...,0.012450,0.013216,0.020955,0.013917,-0.016411,0.013812,0.015176,0.012571,0.012842,-0.000246
2,0.009566,0.009163,0.014316,0.009163,0.009163,0.031901,0.010587,0.036561,0.036561,0.036416,...,0.024165,0.026527,0.072602,0.030357,0.142479,0.031565,0.027739,0.024316,0.033629,-0.033072
3,-0.000770,0.056331,0.044464,0.056331,0.056331,0.051037,0.044944,0.019677,0.019677,0.088308,...,0.023701,0.030641,0.106978,0.011912,0.036883,0.049577,0.020605,0.022710,0.051930,-0.025934
4,0.033082,0.023039,0.025694,0.023039,0.023039,0.033951,0.034061,0.031235,0.031235,0.037084,...,0.033124,0.032601,0.018823,0.040424,0.704463,0.033595,0.022775,0.032417,0.035922,0.078777
5,0.014312,0.034972,0.028768,0.034972,0.034972,0.024324,0.039341,0.011191,0.011191,0.034656,...,0.018637,0.019701,0.046087,0.002929,-0.053399,0.024441,0.019689,0.017877,0.024877,0.088440
6,-0.003722,0.032418,0.025678,0.032418,0.032418,0.026391,0.028974,0.009859,0.009859,0.043690,...,0.014794,0.015864,0.042222,0.024652,0.042265,0.025784,0.013505,0.013928,0.026414,0.007648
7,0.017290,0.018114,0.021464,0.018114,0.018114,0.051538,0.013992,0.045252,0.045252,0.085276,...,0.028306,0.034946,0.149845,0.027515,-0.291014,0.047009,0.073759,0.028259,0.043067,0.040642
8,0.060758,-0.010524,-0.000406,-0.010524,-0.010524,0.038301,-0.011759,0.006550,0.006550,0.057688,...,0.021898,0.025083,0.090278,0.027632,-0.057385,0.034185,0.025748,0.021208,0.036355,-0.007432
9,0.048619,0.020978,0.022367,0.020978,0.020978,0.079572,0.009448,0.013409,0.013409,0.140070,...,0.031764,0.037811,0.197392,0.014243,-0.150410,0.075018,0.037993,0.029558,0.077003,0.001377
10,0.008115,0.010011,0.011140,0.010011,0.010011,0.015207,0.011125,0.010794,0.010794,0.018571,...,0.013936,0.013747,0.018691,0.013417,-0.003540,0.015572,0.015178,0.013757,0.015324,0.004686
11,0.079413,0.024096,0.028266,0.024096,0.024096,0.083424,0.014479,0.015275,0.015275,0.114801,...,0.032385,0.042525,0.340094,0.007782,0.186457,0.072582,0.077582,0.033793,0.060521,0.016797
12,0.002105,0.010656,0.012947,0.010656,0.010656,0.026597,-0.007135,0.011573,0.011573,0.021846,...,0.015625,0.017464,0.094248,0.012681,-0.074529,0.021595,0.024187,0.016260,0.021165,-0.025989
13,0.015738,0.016913,0.015752,0.016913,0.016913,0.029912,0.014812,0.021756,0.021756,0.047386,...,0.014861,0.017502,0.069337,0.013111,0.137930,0.028948,0.015048,0.014384,0.028554,0.060076
14,-0.000643,0.017790,0.017843,0.017790,0.017790,0.026062,0.017733,0.025422,0.025422,0.039566,...,0.021454,0.021612,0.042633,0.016867,-0.043091,0.025802,0.023579,0.020286,0.025822,0.162242
15,0.015810,0.015996,0.015997,0.015996,0.015996,0.015924,0.015867,0.015972,0.015972,0.015889,...,0.015994,0.015994,0.015427,0.023922,0.015362,0.015926,0.015928,0.015995,0.015973,0.015578
16,0.034608,-0.010073,-0.002510,-0.010073,-0.010073,0.024287,-0.011528,0.010542,0.010542,0.041966,...,0.012703,0.016177,0.061143,-0.002479,-0.053725,0.029022,0.019963,0.012675,0.024576,0.001752
17,0.767427,0.767116,0.767119,0.767116,0.767116,0.770947,0.765885,0.767237,0.767237,0.763914,...,0.769729,0.771375,0.764586,10.762100,0.754654,0.773292,0.762525,0.768861,0.777620,0.771405
18,0.034727,0.015182,0.014873,0.015182,0.015182,0.016642,0.014629,0.011519,0.011519,0.015525,...,0.013093,0.014695,0.045091,0.010355,0.227026,0.015702,0.019615,0.013480,0.012586,0.091199
19,0.052264,0.009179,0.011943,0.009179,0.009179,0.025625,0.014471,0.028883,0.028883,0.038272,...,0.018017,0.019909,0.041284,0.017293,-0.038171,0.024397,0.020144,0.017835,0.026046,-0.031912
20,0.007225,0.012550,0.013079,0.012550,0.012550,0.015809,0.034258,0.024399,0.024399,0.017041,...,0.013804,0.014513,0.052211,0.016545,-0.001852,0.015878,0.018320,0.013915,0.014562,0.011364
21,0.009119,0.041507,0.035407,0.041507,0.041507,0.025841,0.042203,0.021385,0.021385,0.025971,...,0.024279,0.026959,0.063815,0.021903,0.115994,0.031849,0.032597,0.023922,0.023585,-0.054874
22,-0.000479,0.032399,0.030101,0.032399,0.032399,0.030741,0.045862,0.004325,0.004325,0.015198,...,0.026717,0.031633,0.082212,0.030900,0.106012,0.036611,0.012942,0.026314,0.026276,-0.051702
23,0.050610,0.023407,0.021418,0.023407,0.023407,0.025746,0.031000,0.007455,0.007455,0.035274,...,0.018893,0.019247,0.044499,0.016328,-0.001086,0.024429,0.021170,0.018408,0.024686,-0.022954
24,-0.006101,0.002606,0.005883,0.002606,0.002606,0.024990,0.006168,0.002218,0.002218,0.038216,...,0.013955,0.015271,0.062112,0.015270,0.131934,0.025187,0.015043,0.013449,0.023690,-0.010723
25,0.042880,0.016788,0.016324,0.016788,0.016788,0.019065,0.019401,0.013546,0.013546,0.027533,...,0.017261,0.016856,0.017257,0.029121,-0.011088,0.019731,0.017417,0.016640,0.019432,0.044521
26,0.025636,0.032437,0.025786,0.032437,0.032437,0.015300,0.034192,0.008401,0.008401,0.016897,...,0.012663,0.014247,0.041326,0.008092,-0.010599,0.017692,0.026289,0.012603,0.014257,0.014594
27,0.130341,0.002061,0.013812,0.002061,0.002061,0.058136,0.129085,0.026439,0.026439,0.095127,...,0.044393,0.049583,0.147554,0.003085,-0.098639,0.062435,0.023412,0.042033,0.073262,0.129719
28,0.119266,0.103696,0.103264,0.103696,0.103696,0.125543,0.200895,0.099088,0.099088,0.185207,...,0.108724,0.091765,-0.059553,0.095110,-0.002661,0.082541,0.070513,0.106616,0.093052,0.135848
29,0.050009,0.008924,0.010270,0.008924,0.008924,0.014307,0.009922,0.011264,0.011264,0.015354,...,0.013135,0.014343,0.011235,0.020350,0.005034,0.014101,0.015294,0.013078,0.013913,0.035592
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,0.025882,0.009539,0.010555,0.009539,0.009539,0.027433,0.020540,0.005806,0.005806,0.045573,...,0.015455,0.017412,0.081417,0.018529,0.000269,0.027578,0.017112,0.014499,0.026708,0.003118
420,0.042565,0.066993,0.066934,0.066993,0.066993,0.055013,0.028212,0.060611,0.060611,0.041968,...,0.063184,0.056616,-0.005718,0.070196,0.081253,0.055267,0.058976,0.064395,0.078285,0.029683
421,0.034447,0.004237,0.006945,0.004237,0.004237,0.014913,0.017279,0.011435,0.011435,0.020506,...,0.014003,0.014327,0.023463,0.016229,-0.025200,0.015245,0.014684,0.013456,0.015282,0.037043
422,0.026017,0.026977,0.026682,0.026977,0.026977,0.028072,0.016810,0.023688,0.023688,0.021460,...,0.025706,0.026943,0.048311,0.043369,-0.052016,0.029178,0.029101,0.025834,0.029123,-0.010563
423,-0.004214,0.022758,0.023414,0.022758,0.022758,0.049909,0.069748,0.053195,0.053195,0.021268,...,0.021707,0.028285,0.435287,0.019924,-0.049893,0.041265,0.035306,0.022713,0.033829,-0.033482
424,0.010614,0.017906,0.017255,0.017906,0.017906,0.016824,0.020595,0.017813,0.017813,0.020163,...,0.016324,0.016541,0.017762,0.025423,0.007602,0.017001,0.017192,0.016200,0.017106,0.005082
425,0.000822,0.010323,0.014968,0.010323,0.010323,0.044809,0.028760,0.026302,0.026302,0.059716,...,0.025183,0.030277,0.139023,0.012605,0.320671,0.043546,0.028562,0.024875,0.046491,-0.076818
426,0.045709,0.074139,0.063035,0.074139,0.074139,0.050858,0.067643,0.037945,0.037945,0.061553,...,0.045983,0.048129,0.052043,0.052592,-0.019623,0.054009,0.040044,0.044265,0.060549,0.133725
427,0.010325,-0.001362,0.003899,-0.001362,-0.001362,0.024588,0.016257,0.022276,0.022276,0.037846,...,0.014727,0.016943,0.041503,0.041792,0.226229,0.023879,0.012869,0.014625,0.022824,-0.020241
428,0.010847,0.019453,0.017956,0.019453,0.019453,0.015068,0.022882,0.013781,0.013781,0.012559,...,0.014464,0.015263,0.017330,0.026522,0.081793,0.016255,0.011232,0.014630,0.016830,-0.000998
429,0.108219,0.016301,0.017707,0.016301,0.016301,0.025547,0.025570,0.025747,0.025747,0.032407,...,0.021274,0.022650,0.050290,0.024756,0.004569,0.025799,0.026446,0.021022,0.025230,0.051872
430,-0.002929,0.016390,0.016264,0.016390,0.016390,0.022677,0.014417,0.027625,0.027625,0.031282,...,0.014907,0.017069,0.058246,0.018623,-0.001277,0.022110,0.029332,0.015276,0.020444,0.004105
431,0.006637,0.013960,0.017528,0.013960,0.013960,0.045524,-0.003474,0.014675,0.014675,0.054084,...,0.022626,0.025340,0.169527,0.028968,0.097866,0.040756,0.040550,0.023305,0.039585,-0.048158
432,0.037085,-0.001645,0.003445,-0.001645,-0.001645,0.015321,0.024428,0.017239,0.017239,0.018898,...,0.014580,0.016003,0.044401,0.024149,-0.027958,0.018191,0.023497,0.014262,0.013994,0.069044
433,0.024950,0.014255,0.018927,0.014255,0.014255,0.037973,0.001274,0.018895,0.018895,0.044412,...,0.025653,0.025223,0.067691,0.033895,-0.094500,0.035617,0.052393,0.026525,0.031358,0.019589
434,-0.001145,0.007849,0.009739,0.007849,0.007849,0.023915,0.011252,0.014229,0.014229,0.035018,...,0.013470,0.015314,0.053532,0.041515,0.070440,0.023185,0.018322,0.013486,0.022622,-0.035173
435,0.019559,0.058523,0.044128,0.058523,0.058523,0.021515,0.063881,0.020868,0.020868,0.031461,...,0.016494,0.017928,0.049301,0.012353,-0.012429,0.022461,0.021686,0.016108,0.020646,0.018148
436,0.025030,0.010369,0.011825,0.010369,0.010369,0.031649,0.000740,0.020088,0.020088,0.048401,...,0.018105,0.017072,0.039493,0.033711,0.031600,0.029330,0.020637,0.016982,0.025539,-0.040170
437,0.014822,0.007331,0.009979,0.007331,0.007331,0.015439,0.047541,0.033432,0.033432,0.018476,...,0.017730,0.017061,0.050439,-0.007122,0.195978,0.015783,0.017921,0.016912,0.012992,-0.032834
438,0.040310,0.025369,0.022886,0.025369,0.025369,0.022762,0.032194,0.016551,0.016551,0.029881,...,0.017885,0.018880,0.039866,0.037808,0.058794,0.022584,0.022872,0.017897,0.020620,0.022505
439,0.007515,0.012857,0.015706,0.012857,0.012857,0.027659,0.007373,0.016654,0.016654,0.037099,...,0.021388,0.022187,0.056252,0.018509,-0.054482,0.027869,0.033862,0.021394,0.022907,0.090166
440,-0.011932,0.023255,0.025743,0.023255,0.023255,0.071360,0.031331,0.043273,0.043273,0.125338,...,0.034876,0.047216,0.162996,0.014112,-0.126593,0.075543,0.036151,0.033490,0.077966,0.073519
441,-0.010805,-0.015467,-0.005229,-0.015467,-0.015467,0.038310,-0.009982,0.050470,0.050470,0.056641,...,0.018223,0.019650,0.087370,0.021117,0.054345,0.037058,0.025293,0.017231,0.032145,0.003872
442,0.027595,0.084340,0.061099,0.084340,0.084340,0.024422,0.082018,0.023471,0.023471,0.040617,...,0.017109,0.017121,0.069605,0.014575,0.027439,0.029655,0.033015,0.016278,0.020488,0.155155
443,0.011545,0.008865,0.009816,0.008865,0.008865,0.010980,0.005875,0.008101,0.008101,0.011800,...,0.011582,0.011715,-0.059832,0.023662,0.231460,0.011906,0.003909,0.011627,0.011811,-0.002175
444,0.017589,0.028073,0.029010,0.028073,0.028073,0.007074,0.281494,0.036600,0.036600,0.001988,...,0.032731,0.023028,0.093739,0.029750,0.159100,0.010201,0.038240,0.032116,0.006677,0.131883
445,0.038591,0.042313,0.035329,0.042313,0.042313,0.037664,0.067022,0.038547,0.038547,0.030958,...,0.018634,0.023533,0.260216,0.018224,0.079647,0.035557,0.031923,0.019543,0.029584,-0.050126
446,0.021855,0.006900,0.010613,0.006900,0.006900,0.025817,0.005610,0.024031,0.024031,0.040353,...,0.020651,0.021730,0.033332,0.039580,-0.033875,0.026146,0.023810,0.019781,0.026567,0.144103
447,0.096542,-0.005917,0.002229,-0.005917,-0.005917,0.030281,0.000348,0.012700,0.012700,0.045760,...,0.018975,0.021989,0.079182,0.028922,-0.055891,0.030604,0.027069,0.018823,0.028699,0.054497
448,0.017685,0.021253,0.017379,0.021253,0.021253,0.009220,0.021598,0.020794,0.020794,0.009195,...,0.009757,0.009444,0.007086,0.012267,0.005785,0.010230,0.011007,0.009714,0.009305,0.017104

### Take a particular user_id

### Lets find the recommendations for user with id `2110`

#### Note: Execute the below cells to get the variables loaded

In [103]:
userID = 2110

In [104]:
user_id = 2 #2nd row in ratings matrix and predicted matrix

In [105]:
user_predictions = preds_df.iloc[user_id ]

### Get the predicted ratings for userID `2110` and sort them in descending order

In [106]:
user_predictions =user_predictions.sort_values(ascending=False)

### Create a dataframe with name `user_data` containing userID `2110` explicitly interacted books

In [107]:
user_data = pd.DataFrame(user_predictions)

In [108]:
user_data.head()

                   2
ISBN
0316666343  1.040017
059035342X  0.803285
0345350499  0.721929
0440214041  0.690059
044021145X  0.688169

### Combine the user_data and and corresponding book data(`book_data`) in a single dataframe with name `user_full_info`

In [124]:
user_full_info = (user_data.merge(books, how = 'left', left_on = 'ISBN', right_on = 'ISBN'))

In [125]:
user_full_info.shape

(66572, 6)

In [126]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

### Get top 10 recommendations for above given userID from the books not already rated by that user

In [128]:
user_full_info.head(10)

,ISBN,2,bookTitle,bookAuthor,yearOfPublication,publisher
0,0316666343,1.040017,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown"
1,059035342X,0.803285,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,1999,Arthur A. Levine Books
2,0345350499,0.721929,The Mists of Avalon,MARION ZIMMER BRADLEY,1987,Del Rey
3,0440214041,0.690059,The Pelican Brief,John Grisham,1993,Dell
4,044021145X,0.688169,The Firm,John Grisham,1992,Bantam Dell Publishing Group
5,0312195516,0.667460,The Red Tent (Bestselling Backlist),Anita Diamant,1998,Picador USA
6,0345318862,0.664084,Golem in the Gears (Xanth Novels (Paperback)),PIERS ANTHONY,1986,Del Rey
7,0345313151,0.656066,Bearing an Hourglass (Incarnations of Immortal...,Piers Anthony,1991,Del Rey Books
8,0380752891,0.653763,"Man from Mundania (Xanth Trilogy, No 12)",Piers Anthony,1990,Harper Mass Market Paperbacks
9,051511605X,0.642575,Undue Influence,Steven Paul Martini,1995,Jove Books